.container{
  margin-top: 100px;
  margin-left:100px;
  background-color: rgb(206, 186, 186);
  height:500px;
  width:700px;
}
.container .canvas{
  height:300px;
  width:500px;
  margin-top: 20px;
  background-color: white;
  margin-left: 50px;
  position: relative;
}
.container .canvas .rectangle{
  position: absolute;
   background-color: greenyellow;
   height:100px;
   width:130px;
}