.container{
  margin-top: 100px;
  margin-left:100px;
  background-color: rgb(206, 186, 186);
  height:420px;
  width:604px;
}
.container .canvas{
  height:300px;
  width:500px;
  margin-top: 20px;
  background-color: white;
  margin-left: 50px;
  position: relative;
}
.container .canvas .rectangle{
  position: absolute !important;
  
}
.container .btn-wrapper{
  margin-left: 12vw;
  padding-top:10px;
  display: flex;
  gap:10px;
}
.container .btn{
  background-color: black;
  border:none;
  height:30px;
  cursor: pointer;
  border-radius: 10px;
  color:white;
}
.result{
  margin-left: 60vw;
  margin-top: -40vh;
  z-index: 1024;
  width:300px;
  border:solid;
}